:root {
    --primary: #007AFF;
    --background: #1E1E1E;
    --content: #2C2C2C;
    --header: #252525;
    --block: #272727;
    --info: #232323;
    --hover: #444;
    --current: #333333;
    --text: #fff;
    --textInv: #000;
    --floating: #363636;
    --pause: #E7BA60;
    --resume: #B0E675;
    --stop: #E55B5B;
    --cleaning: #E88A26;
    --done: #51d92b;
    --basketball: #FF6F00;
    --football: #ffffff;
    --volleyball: #F6BB42;
    --error: #D4853F;
  }